@import "tailwindcss";

body {
  @apply bg-gray-50 text-gray-800 font-sans;
  min-height: 100vh;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f5f9;
}